<%- include('layout') %>
<h1>Welcome to Vehicle Parking Management</h1>
<a href="/admin/register">Register Admin</a>
<a href="/admin/login">Admin Login</a>
<a href="/user/register">Register User</a>
<a href="/user/login">User Login</a>
<a href="/vehicle/add">Add Vehicle</a>
<a href="/parking/add">Add Parking Slot</a>
<a href="/transaction/add">Add Transaction</a>