<!DOCTYPE html>
<html>
  <head>
    <title>Vehicle Parking Management</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <%- body %>
    <script src="/js/script.js"></script>
  </body>
</html>