<%- include('../layout') %>
<h1>User Login</h1>
<form action="/save-outtime/exit" method="post">
    <!-- Your form fields and submit button -->
    <input type="hidden" name="user_id" value="<%= user_id %>">
    <button type="submit">Exit</button>
  
</form>