<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Slot Allotted</title>
</head>
<body>
    <h1>Slot Allotted Successfully</h1>
    <p>Slot Number: <%= slotNo %></p>

    <form action="/user/login" method="post">
        <button type="submit">Logout</button>
    </form>
</body>
</html>
